@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.color1{
   background-image: url(../assets/bg-pattern-intro-mobile.svg);
   background-position: center;
   background-color: hsl(356, 100%, 66%);
   padding-bottom: 8em;
   border-bottom-left-radius: 3em;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
.desktop{
    display: none;
}
@media (min-width:1024px) {
    .wrapper{
        width: 95%;
        margin: 0 auto;
    }
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
    .desktopNav{
        display: flex;
        gap: .5em;
        align-items: center;
    }
    .home{
        color: white;
        text-decoration: none;
        padding-left: 1.5em;
    }
    .contact1{
        color: hsl(356, 100%, 66%);
        border: 2px solid white;
        text-decoration: none;
        font-size: 16px;
        padding: 5px 5px;
        border-radius: .2em;
        background-color: white;
    }
    .desktopCon{
        display: flex;
        justify-content: space-between;
        border: 2px solid red;
        align-items: center;
    }
    .desktopCon1{
        display: flex;
        justify-content: space-between;
    }
    .product{
        
    }
}
.upperBox{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;

}
.heading1{
    color: white;
    text-align: center;
    padding: 5em 0;
}
.flexBox1{
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 2em;
}
.free{
    color: hsl(356, 100%, 66%);
    background-color: white;
    border: 2px solid white;
    border-radius: 1.5em;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: .3em .5em;
}
.learnmore{
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 1.5em;
    padding: .3em .7em;
    font-size: 16px;
    font-weight: 500;
}
.design1{
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.design2{
    width: 80%;
    margin: 0 auto;
    line-height: 170%;
    text-align: center;
}
.lowerBox{
    background-color: hsl(237, 23%, 32%);
    background-image: url(../assets/bg-pattern-circles.svg);
    border-top-right-radius: 3em;
    background-size: cover;
    border-bottom-left-radius: 3em;
    margin-top: 2em;
    padding-bottom: 3em;
}
.art1{
    color: white;
}
.imageTop{
    margin-top: 10em;
}
.nega{
    margin-top: -18em;
    padding-top: 15em;
}
.designCon{
    font-size: 2em;
}
.Box1{
    text-align: center;
    line-height: 150%;
    padding-bottom: 2em;
    font-size: 14px;
}
.blackbackground{
    background-color: hsl(240,10%,16%);
    border-top-right-radius: 4em;
    padding-bottom: 5em;
    margin-top: 3em;
}
.imageSize{
    width: 20%;
    margin: 0 auto;
    padding: 4em 0;
}
.flexCon{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    padding-bottom: 1.5em;
}
.product{
    color: hsl(240,2%,79%);
    text-decoration: none;
    padding-bottom: 1em;
    font-weight: 500;
}
.overview{
    color: hsl(240,2%,79%);
    text-decoration: none;
}